<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="fuel" class="com.substring.core.concepts.Fuel" />
    <bean id="engine1" class="com.substring.core.concepts.Engine" autowire="byType">
        <!--            <property name="fuel" ref="fuel" />-->
        <!--        <constructor-arg ref="fuel" />-->
    </bean>
    <bean id="car1" class="com.substring.core.concepts.Car" autowire="byType" />


</beans>